@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        background-image: url('https://images.pexels.com/photos/172292/pexels-photo-172292.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
        background-position: center;
        backdrop-filter: blur(1px)

        
    }
}